/*
* Lethalin v1.0.2
* Copyright 2016, John Uberbacher
* www.lethalin.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 11/9/2016
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- 1. Base Styles
- 2. Typography
- 3. Responsive Grid
- 4. Header & Navigation
- 5. Sections
- 6. Links & Buttons
- 7. Forms
- 8. Images
- 9. Lists
- 10. Tables
- 11. Modals
- 12. Utility Classes
*/


/* 1. Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
  font-size: 100%;
  line-height: 1.6;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }
body {
  padding: 0px;
  margin: 0px;
  min-width: 320px;
  font-size: 16px;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif; }
article,
aside,
footer,
header,
nav,
section { display: block; width: 100%; }
table { border-spacing: 0; border-collapse: collapse; }
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
a {
  outline: none;
  border: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
a:active,
a:hover { outline-width: 0; }

/* 2. Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,h2,h3,h4,h5,h6,p { margin: 15px 0px; font-weight: 400;}
h1 { font-size: 32px;
  font-size: 2rem; }
h2 { font-size: 30px;
  font-size: 1.875rem; }
h3 { font-size: 24px;
  font-size: 1.5rem; }
h4 { font-size: 20px;
  font-size: 1.25rem; }
h5 { font-size: 18px;
  font-size: 1.125rem; }
h6 { font-size: 16px;
  font-size: 1rem; }
a { font-size: 16px;
  font-size: 1rem; }
p { font-size: 16px;
  font-size: 1rem; }


/* 3. Responsive Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.grid {
  width: 100%;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 7.5px;
  padding-right: 7.5px; }

@media (min-width: 1018px) {
  .grid { width: 1000px; }
}
.column {
  width: 100%;
  padding-left: 7.5px;
  padding-right: 7.5px;
  position: relative;
  min-height: 1px;
  float: left;
}
.sm-24 { width: 100%; }
.sm-23 { width: 95.83333333%; }
.sm-22 { width: 91.66666667%; }
.sm-21 { width: 87.5%; }
.sm-20 { width: 83.33333333%; }
.sm-19 { width: 79.16666667%; }
.sm-18 { width: 75%; }
.sm-17 { width: 70.83333333%; }
.sm-16 { width: 66.66666667%; }
.sm-15 { width: 62.5%; }
.sm-14 { width: 58.33333333%; }
.sm-13 { width: 54.16666667%; }
.sm-12 { width: 50%; }
.sm-11 { width: 45.83333333%; }
.sm-10 { width: 41.66666667%; }
.sm-9 { width: 37.5%; }
.sm-8 { width: 33.33333333%; }
.sm-7 { width: 29.16666667%; }
.sm-6 { width: 25%; }
.sm-5 { width: 20.83333333%; }
.sm-4 { width: 16.66666667%; }
.sm-3 { width: 12.5%; }
.sm-2 { width: 8.33333333%; }
.sm-1 { width: 4.16666667%; }
@media (min-width: 768px) {
  .md-24 { width: 100%; }
  .md-23 { width: 95.83333333%; }
  .md-22 { width: 91.66666667%; }
  .md-21 { width: 87.5%; }
  .md-20 { width: 83.33333333%; }
  .md-19 { width: 79.16666667%; }
  .md-18 { width: 75%; }
  .md-17 { width: 70.83333333%; }
  .md-16 { width: 66.66666667%; }
  .md-15 { width: 62.5%; }
  .md-14 { width: 58.33333333%; }
  .md-13 { width: 54.16666667%; }
  .md-12 { width: 50%; }
  .md-11 { width: 45.83333333%; }
  .md-10 { width: 41.66666667%; }
  .md-9 { width: 37.5%; }
  .md-8 { width: 33.33333333%; }
  .md-7 { width: 29.16666667%; }
  .md-6 { width: 25%; }
  .md-5 { width: 20.83333333%; }
  .md-4 { width: 16.66666667%; }
  .md-3 { width: 12.5%; }
  .md-2 { width: 8.33333333%; }
  .md-1 { width: 4.16666667%; }
}
@media (min-width: 992px) {
  .lg-24 { width: 100%; }
  .lg-23 { width: 95.83333333%; }
  .lg-22 { width: 91.66666667%; }
  .lg-21 { width: 87.5%; }
  .lg-20 { width: 83.33333333%; }
  .lg-19 { width: 79.16666667%; }
  .lg-18 { width: 75%; }
  .lg-17 { width: 70.83333333%; }
  .lg-16 { width: 66.66666667%; }
  .lg-15 { width: 62.5%; }
  .lg-14 { width: 58.33333333%; }
  .lg-13 { width: 54.16666667%; }
  .lg-12 { width: 50%; }
  .lg-11 { width: 45.83333333%; }
  .lg-10 { width: 41.66666667%; }
  .lg-9 { width: 37.5%; }
  .lg-8 { width: 33.33333333%; }
  .lg-7 { width: 29.16666667%; }
  .lg-6 { width: 25%; }
  .lg-5 { width: 20.83333333%; }
  .lg-4 { width: 16.66666667%; }
  .lg-3 { width: 12.5%; }
  .lg-2 { width: 8.33333333%; }
  .lg-1 { width: 4.16666667%; }
}


/* 4. Header & Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header {
  background: #FFFFFF;
  padding: 0;
  width: 100%;
  z-index: 20;
  height: 55px;
  border-bottom: 1px solid #E1E1E1; }
header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }
header a.header {
  margin: 15px 0px 0px 7.5px;
  text-decoration: none;
  float: left;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; }
header a.header img { display: block; outline: none; border: none; }
header .navbar { float:right; }
@media (min-width: 768px) {
  header .navbar { display: block; }
}
header .navbar  ul {
  position: absolute;
  width: 100%;
  left: 0;
  top: 54px;
  padding: 0;
  margin: 0;
  z-index: 3;
  display: none;
  background: #FFFFFF;
  border-bottom: 1px solid #E1E1E1;
  border-top: 1px solid #E1E1E1; }
@media (min-width: 768px) {
  header .navbar ul.nav-expand {
    border-top: none;
    background: transparent;
    list-style: none;
    display: block!important;
    text-align: right;
    margin: 0;
    border: 0;
    position: static; }
}
header .navbar ul li { position: relative; display: block; }
@media (min-width: 768px) {
  header .navbar ul li { display: inline; }
}
header .navbar ul li a {
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  transition: color 0.4s;
  cursor: pointer;
  border-bottom: 1px solid #E1E1E1; }
@media (min-width: 768px) {
  header .navbar ul li a {
    display: inline-block;
    padding: 15px 10px;
    border: none; }
}
header .navbar ul.nav-expand li ul {
  position: initial;
  width: 100%;
  top: 41px;
  border: none;
  background: rgb(245, 249, 249); }
@media (min-width: 768px) {
  header .navbar ul.nav-expand li ul {
    position: absolute;
    left: 0;
    top: 36px;
    border: 1px solid #E1E1E1;
    width: 150px; }
}
header .navbar ul.nav-expand li ul li a {
  display: block;
  text-align: left;
  padding: 7.5px 15px; }
header .navbar ul.nav-expand li.dropdown:hover ul.dropdown-content {
  display: block; }
header .navbar .navbar-open {
  margin: 14px 7.5px 0px 0px;
  width:26px;
  height:26px;
  display: block;
  cursor: pointer; }
@media (min-width: 768px) {
  header .navbar .navbar-open { display: none; }
}


/* 5. Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
section {
  display: flex;
  padding: 50px 0px;
  background: rgb(245, 249, 249);
  border-bottom: 1px solid #DFE5E8; }


/* 6. Links & Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a { color: #33AFC8; }
.button {
  outline: none;
  font-size: 16px;
  font-size: 1rem;
  background: #33AFC8;
  color: #FFFFFF;
  border: 1px solid #33AFC8;
  border-radius: 4px;
  padding: 7.5px 15px;
  line-height: 1.6;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  width: auto;
  box-shadow: 0 1px 2px rgba(46, 58, 59, 0.25);
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.button-wide { width: 100%; }


/* 7. Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
label {
  text-transform: uppercase;
  font-size: 10px;
  font-size: 0.625rem;
  font-weight: 400;
  letter-spacing: 1.5px;
  display: block;
  margin: 5px 0px; }
input[type="text"], input[type="password"], input[type="email"],
input[type="tel"], input[type="date"], input[type="number"],
input[type="color"], input[type="url"], textarea, select {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  font-family:inherit;
  padding: 7.5px 10px 5px 10px;
  width: 100%;
  outline: none;
  border-radius: 4px;
  border: 1px solid #DFE5E8;
  color: #6B645E;
  margin-bottom: 1em; }
textarea {
  width: 100%;
  overflow: auto;
  max-width: 100%;
  outline:none;
  height: auto; }

/* 8. Images
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.image { width: 100%; height: auto; }
.image-round { border-radius: 50%; }
.image-rounded { border-radius: 6px; }


/* 9. Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle outside;
  padding-left: 19px;
  margin-top: 0px; }


/* 10. Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  display: block;
  margin-bottom: 15px;
  text-align: left; }
.table table {
  width: 100%;
  max-width: 100%; }
.table tbody { border: 1px solid #E1E1E1; }
.table table tr td { border-bottom: 1px solid #E1E1E1; }
.table table tr th  {
  font-weight: 500;
  white-space: nowrap;
  border-bottom: 1px solid #E1E1E1;
  margin: 0;
  padding: 7.5px 15px; }
.table table td  {
  padding: 7.5px 15px;
  white-space: nowrap;
  vertical-align: top; }

  
/* 11. Modals
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 4;
	background: rgba(0, 0, 0, 0.5);
	transition: opacity 200ms;
	visibility: hidden;
	opacity: 0; }
.overlay .cancel {
	position: fixed;
	width: 100%;
	height: 100%;
	cursor: default; }
.overlay:target { visibility: visible; opacity: 1; transition: opacity 200ms; }
.modal {
	margin: 10% 15px;
	padding: 0px 20px;
	background: #fff;
	border: 1px solid #666;
	width: auto;
	max-width: 700px;
	border-radius: 4px;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
	position: relative; }
@media (min-width: 768px) {
  .modal { margin: 10% auto; }
}
.modal .close {
	position: fixed;
	width: 20px;
	height: 20px;
	top: 20px;
	right: 20px;
	opacity: 0.8;
	transition: all 200ms;
	font-weight: bold;
	text-decoration: none;
	color: #777; }
.modal .close:hover { opacity: 1; }
.modal .content { max-height: 400px; overflow: auto; }
.modal .content p { margin-top: 0px; }


/* 12. Utility Classes
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.display-table { display: table!important; margin-left: auto; margin-right: auto; }
.display-block { display: block!important; margin-left: auto; margin-right: auto; }
.display-inline-block { display: inline-block!important; }
.display-none {  display: none!important; }
.float-left { float: left!important; }
.float-right { float: right!important; }
.text-center { text-align: center!important; }
.text-right { text-align: right!important; }
.text-left { text-align: left!important; }
.text-justify { text-align: justify !important; }
