/*
* Lethalin V1
* Copyright 2016, John Uberbacher
* www.lethalin.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 11/9/2016
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- 1. Base Styles
- 2. Typography
- 3. Responsive Grid
- 4. Header & Navigation
- 5. Sections
- 6. Links & Buttons
- 7. Forms
- 8. Lists
- 9. Code
- 10. Tables
- 11. Utility Classes
*/


/* 1. Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
  font-size: 100%;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }
body {
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-size: 1rem;
  font-family: 'Roboto'; }
article,
aside,
footer,
header,
nav,
section {
  display: block; }
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
a:active,
a:hover {
  outline-width: 0; }

/* 2. Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1 {
  font-size: 32px;
  font-size: 2rem;
  font-weight: 300; }
h2 {
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: 300; }
h3 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 300; }
h4 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 300; }
h5 {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 300; }
h6 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 300; }
a {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 300; }
p {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 300; }

/* 3. Responsive Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.grid {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
@media (min-width: 768px) {
  .grid {
    width: 100%; }
}
@media (min-width: 992px) {
  .grid {
    width: 100%; }
}
@media (min-width: 1200px) {
  .grid {
    width: 1155px; }
}

/* 4. Header & Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header {
  background: #fff;
  padding: 0;
  width: 100%;
  z-index: 20;
  min-height: 50px;
  border-bottom: 1px solid #E3E3E3; }
header a.header {
  text-decoration: none;
  padding: 15px 0px 15px 0px;
  float: left;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; }
header .navbar {
  display: inline;
  float:right; }
@media (min-width: 768px) {
  header .navbar {
    display: block; }
}
header .navbar  ul {
  position: absolute;
  width: 100%;
  left: 0;
  top: 55px;
  padding: 0;
  margin: 0;
  z-index: 3;
  display: none;
  border-bottom: 1px solid #E3E3E3; }
@media (min-width: 768px) {
  header .navbar ul {
    background: transparent;
    list-style: none;
    display: block!important;
    text-align: right;
    margin: 0;
    border: 0;
    position: static; }
}
header .navbar ul li {
  display: block; }
@media (min-width: 768px) {
  header .navbar ul li {
    display: inline; }
}
header .navbar ul li a {
  padding: 7.5px 15px;
  text-decoration: none;
  display: block;
  transition: color 0.4s;
  border-bottom: 1px solid #E3E3E3; }
@media (min-width: 768px) {
  header .navbar ul li a  {
    display: inline-block;
    padding: 15px 10px;
    border: none; }
}
header .navbar .navbar-open {
  padding: 12px 0px 0px;
  width:26px;
  height:26px;
  display: block;
  cursor: pointer; }
@media (min-width: 768px) {
  header .navbar .navbar-open  {
    display: none; }
}

/* 5. Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
section {
  padding: 50px 0px 50px 0px;
  background: rgb(245, 249, 249);
  border-bottom: 1px solid #dfe5e8; }
@media(min-width: 768px) {
  section { padding: 70px 0px 70px 0px; }
}
section.white { background: rgb(255,255,255); }

/* 6. Links & Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a { color: #33AFC8; }
.button {
  outline: none;
  font-size: 16px;
  font-size: 1rem;
  background: #33AFC8;
  color: #FFFFFF;
  border: 1px solid;
  border-color: #33AFC8;
  border-radius: 3px;
  padding: 10px 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  width: auto;
  box-shadow: 0 1px 2px rgba(46, 58, 59, 0.25);
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.button-wide { width: 100%; }

/* 7. Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
label {
  text-transform: uppercase;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 300;
  letter-spacing: 1.5px;
  display: block;
  margin: 5px 0px; }
input[type="text"], input[type="password"], input[type="email"] {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 300;
  padding: 10px 12.5px;
  width: 100%;
  outline: none;
  border: 1px solid transparent;
  border-color: #E5E1DC;
  color: #6B645E;
  margin-bottom: 15px; }


/* 11. Utility Classes
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
    padding: 3px 6px;
    margin: 0 2px;
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
}
.display-block { display: block!important; }
.display-inline-block { display: inline-block!important; }
.float-left { float: left!important; }
.float-right { float: right!important; }
.text-center { text-align: center!important; }
.text-right { text-align: right!important; }
.text-left { text-align: left!important; }
